.chart {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    line-height: 150px;
    z-index: 2;
    font-size: 3.5em;
    color: #777;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: 0.5em;
}
.chart-tilte, .chart-legend{
    margin: 0;
}